<h1>Send a Templated Email</h1>
<%= form_for @templated_email do |f| %>
  <% if @templated_email.errors.any? %>
    <div class="alert alert-danger">Please correct the highlighted errors and try again.</div>
  <% end %>

  <div class="form-group">
    <%= f.label :sender_name %>
    <%= f.text_field :sender_name, class: append_validity_css_class('form-control', @templated_email, :sender_name) %>
    <%= enumerate_field_errors(@templated_email, :sender_name) %>
  </div>

  <div class="form-group">
    <%= f.label :destination_email %>
    <%= f.text_field :destination_email, class: append_validity_css_class('form-control', @templated_email, :destination_email) %>
    <%= enumerate_field_errors(@templated_email, :destination_email) %>
  </div>

  <div class="form-group">
    <%= f.label "Message Template" %>
    <%= f.select(:message_template_id,
                 options_from_collection_for_select(MessageTemplate.all, 'id', 'name', @templated_email.message_template_id),
                 {},
                 { :class => append_validity_css_class('form-control', @templated_email, :message_template) }) %>

    <%= enumerate_field_errors(@templated_email, :message_template) %>


    <%= label_tag('message_preview_text_area', 'Message Preview') %>
    <br/>
    <div class="card" id="message_preview_text_area"></div>
  </div>

  <p><%= f.submit %></p>
<% end %>